extends layout

block content 
    h1= title 
    p #{draft.teams} teams, pick #{draft.order}
    
        each player, index in draft.picks 
            p Pick #{(index + 1)}: 
                a(href=player.url) #{player.name}   
                
    hr
    p 
        a(href=draft.url+'/delete') Delete Draft 
    p 
        a(href=draft.url+'/update') Update Draft