extends layout 

block content 
    h1 #{title}: #{player._id} (id)

    p #[strong Name:]
        a(href=player.url)  #{player.name}

    p Do you really want to delete this player?

    form(method='POST' action='')
        div.form-group
            input#player.id.form-control(type='hidden', name='playerid', required='true', value=player._id)

        button.btn.btn-primary(type='submit') Delete