extends layout 

block content 
    h1= title 

    p #{player.team.name}, #{player.position.name}

    h3 Description

    p #{player.description}

    hr
    p 
        a(href=player.url+'/delete') Delete Player 
    p 
        a(href=player.url+'/update') Update Player