extends layout 

block content 
    h1= title 
    
    h4 Players 
    ul
        each player in players 
            li 
                a(href=player.url) #{player.name}

    hr
    p 
        a(href=position.url+'/delete') Delete Position 
    p 
        a(href=position.url+'/update') Update Position