extends layout 

block content 
    h1= title 

    h4 Coaches
    ul
        each coach in team.coaches
            li= coach
    
    h4 Players 
    ul
        each player in players 
            li #{player.name}

    hr
    p 
        a(href=team.url+'/delete') Delete Team 
    p 
        a(href=team.url+'/update') Update Team
